nav {
  text-align: right;
  font-family: 'Raleway', sans-serif;
  margin-top: 3%;
  margin-right: 3%;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: .8rem;
  margin-left: 5%;
  color: white;
  line-height: 1rem;
  border-bottom: 1px solid rgba(149,165,166,0);
}

nav a:hover {
  border-bottom: 1px solid rgb(149,165,166);
}
